
params {
	config_dir = "conf"
	nextflow_dir = "nextflow"
	nextflow_required_version = "0.30.0"
}

includeConfig "${params.config_dir}/process.config"
includeConfig "${params.config_dir}/genomes.config"

report {
	enabled = true
	file = "${params.nextflow_dir}/report.html"
}

timeline {
	enabled = true
	file = "${params.nextflow_dir}/timeline.html"
}

trace {
	enabled = true
	file = "${params.nextflow_dir}/trace.txt"
}

dag {
	enabled = true
	file = "${params.nextflow_dir}/dag.dot"

}

